/* Work Sans Fonts from Google */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

/* Shared Styles */

* {

    font-family: 'Work Sans', sans-serif;
}

.button_primary {

    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 21px 24px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
}

.text_light_gray {
    color: #727272;
}

.section_title {

    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;

}

/*--------------------------------------------------------------------------------------------  */



/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
}



/*--------------------------------------------------------------------------------------------  */


/* Banner Style */

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/*--------------------------------------------------------------------------------------------  */







/*--------------------------------------------------------------------------------------------  */

/* Main Styles */


main {

    margin: 70px auto;
    max-width: 1440px;
}

.teams_section {

    display: flex;
    align-items: center;
}

.teams_img_section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams_content {

    padding-right: 70px;
    padding-left: 70px;

}

.teams_title {

    font-size: 2.8rem;
}

.teams_title .quick_list {


    font-weight: 500;

}


.teams_title .features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts Section */

.facts_card_container {
    display: flex;
    justify-content: space-around;
}

.facts_card_container .card {

    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 5px;

}

.facts_card_container .card_stats {

    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts_card_container .card_title {
    font-weight: 600;
    font-size: 1.8rem;
}

/* Sponchors Section ------------------------------------------------------------------------------------ */

.sponchors_section {

    text-align: center;
}

.sponchors_img {

    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* Features section style ----------------------------------------------------------- */

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}


.features_content .card {

    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features .section_title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten_years_badge {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten_years_badge h2 {

    font-size: 4rem;
    margin: 0;
}

.ten_years_badge p {

    font-size: 1.5rem;

}

.features_img img {

    height: 90%;
    margin-left: 100px;
}



/* footer section style */

footer {
    border-radius: 8px;
    background: #FFF4E7;

    text-align: center;
    padding: 30px;

    width: 1440px;

    margin: 20px auto;
    margin-bottom: 70px;

   
}







/*--------------------------------------------------------------------------------------------  */

/* responsive styles */

@media screen and (max-width:1120px) {



    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 50px 100px;
    }


    .teams_section {

        flex-direction: column-reverse;

    }

    .teams_img_section {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    main {

        margin: 70px auto;
        max-width: 500px;

    }


}



/*--------------------------------------------------------------------------------------------  */

@media screen and (max-width:920px) {

    header {
        padding: 20px;
    }

    /* nav{
            flex-direction: column;
            justify-content: center;
    
        } */

    .nav_title {
        font-size: 2.2rem;
    }

    nav li {
        margin: 0 auto;
        margin-left: 10px;
        font-size: 1rem;
    }

    .banner_content {
        max-width: 450px;
        text-align: center;
        margin: 0 auto;
    }

    .banner_title {
        font-size: 2rem;
        font-weight: 700;
        color: #131313;
    }

    .teams_section {

        flex-direction: column-reverse;

    }



    .teams_img_section {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: 20px;
    }

    main {

        margin: 70px auto;
        max-width: 500px;

    }

    .facts_card_container {
        flex-direction: column;
    }

    .facts_card_container {
        flex-direction: column;
    }

    .sponchors_img {

        flex-direction: column;
        margin-top: 50px;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
    }

    
    .features {
        flex-direction: column;
    }

    .features_img img {

        width: 100%;
        margin-left: 0;
    }

    .ten_years_badge {

        width: 200px;
        padding: 10px;
    }



    footer{
        width: 500px;
    }





}

/*--------------------------------------------------------------------------------------------  */


@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        justify-content: center;

    }

    .nav_title {
        font-size: 2rem;
    }

    nav li {
        margin: 0 auto;
        margin-left: 10px;
        font-size: 1rem;
    }

    .banner_content {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .banner_title {
        font-size: 2rem;
        font-weight: 700;
        color: #131313;
    }

    .teams_section {

        flex-direction: column-reverse;
    }

    .teams_img_section {

        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .teams_content {
        justify-content: center;

    }

    .facts_card_container {
        flex-direction: column;
    }

    .sponchors_img {

        flex-direction: column;
        margin-top: 50px;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
    }

    .sponchors_img img {
        width: 220px;
    }

    .features {
        flex-direction: column;
    }

    .features_img img {

        width: 100%;
        margin-left: 0;
    }

    .ten_years_badge {

        width: 200px;
        padding: 10px;
    }

   footer{

    width: 300px;
   }






}

/*--------------------------------------------------------------------------------------------  */